@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
  display: flex;
  justify-content: space-around;
  
}
.slide{
  display: flex;
  
  justify-content: space-between;
}

.feedback{
  display: flex;
  flex-direction: row;
  gap: 20px;
}